.navbar {
  font-size: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: blue;
  color: white;
  padding: 20px;
  width: 100%;
}

.menu ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 15px;
}

.menu a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }

  .menu {
    margin-top: 20px;
  }
}

.navbar-user {
  display: flex;
  gap: 15px;
  align-items: center;
}

button {
  background-color: white;
  color: blue;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: blue;
  color: white;
}
