.produto {
  width: 300px;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid black;
  margin-top: 20px;
}

.preco-cortado {
  font-size: 2rem;
  text-decoration: line-through;
  color: grey;
  padding: 10px 0;
}

.preco-unitario {
  font-size: 3rem;
  margin-top: 20px;
}

.preco-desconto {
  font-size: 3rem;
}

.desconto {
  font-size: 2rem;
  color: green;
  margin-left: 20px;
}
